<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ke.co.mediashare.mediashare" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.mediashare.mediashare.MainActivity" />
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_signin" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".DiscoverBooksActivity"
            android:label="@string/title_activity_discover_books"
            android:parentActivityName=".DiscoverBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.mediashare.mediashare.DiscoverBooksActivity" />
        </activity>
        <activity
            android:name=".BestSellersActivity"
            android:label="@string/title_activity_best_sellers" >
        </activity>
        <activity
            android:name=".NewReleasesActivity"
            android:label="@string/title_activity_new_releases" >
        </activity>
        <activity
            android:name=".RecommendedBooksActivity"
            android:label="@string/title_activity_recommended_books" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".DiscoverBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.mediashare.mediashare.DiscoverBooksActivity" />
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName=".DiscoverBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.mediashare.mediashare.DiscoverBooksActivity" />
        </activity>
        <activity
            android:name=".MyLibraryActivity"
            android:label="@string/title_activity_my_library"
            android:parentActivityName=".DiscoverBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.mediashare.mediashare.DiscoverBooksActivity" />
        </activity>
        <activity
            android:name=".ReadLaterListActivity"
            android:label="@string/title_activity_read_later_list"
            android:parentActivityName=".DiscoverBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.mediashare.mediashare.DiscoverBooksActivity" />
        </activity>
        <activity
            android:name=".BookReaderActivity"
            android:label="@string/title_activity_book_reader"
            android:parentActivityName=".DiscoverBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.mediashare.mediashare.DiscoverBooksActivity" />
        </activity>
        <activity
            android:name=".DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:parentActivityName=".DiscoverBooksActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.mediashare.mediashare.DiscoverBooksActivity" />
        </activity>
    </application>

</manifest>
